@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&family=Roboto:wght@500&family=Sanchez&family=Sarabun:wght@100;200;500;700&display=swap');

:root {
  --bs-font-serif: 'Sanchez';
  --bs-font-sans-serif: 'Roboto';
  --bs-font-sans-serif-01: 'Reem Kufi Ink';
  /* --bs-font-sans-serif: 'Quicksand', sans-serif; */
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.sarif {
  font-family: var(--bs-font-serif);
}

.f01 {
  font-family: var(--bs-font-sans-serif-01);
}

.f-sarabon {
  font-family: 'Sarabun';
}

.f-tin {
  font-weight: 100;
}

.f-el {
  font-weight: 200;
}

.f-me {
  font-weight: 500;
}

.f-b {
  font-weight: 700;
}

.inlogin {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: unset;
}

.nondekor {
  text-decoration: none;

}

.rendembgimg {
  background-image: url('https://picsum.photos/640/480?pic=13');
  background-repeat: no-repeat;
  background-size: cover;

}

.text-over-image {

  position: absolute;
  margin-top: 5rem;

  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff80;
  padding: 10px;
}

.logoname {
  font-size: 5rem;
  letter-spacing: 0.286em;
  font-weight: 500;
}

.subname {
  font-size: 3rem;
  letter-spacing: 0.286em;
  font-weight: 500;
}

.til {
  font-size: 2.8rem;

}

.img400 {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.img20 {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.consual-indikator-kanan {
  left: auto;
  margin-right: 2rem;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.form-select {
  padding: .375rem .75rem .375rem 2.25rem;
  background-position: left .75rem center;
}

input::file-selector-button {
  display: none;
}

.ngambang {
  bottom: 3rem;
  right: 2rem;
  position: fixed;
  z-index: 5;
}

.bt-chat {
  background: var(--bs-primary-bg-subtle);
  /* border: 1px solid #A0ACEE; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 0.5rem;
}




.carousel-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2caae1;
}


.owl-carousel .item {
  text-align: center;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}

.owl-carousel .next-slide {
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}

.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  display: block;
  text-transform: capitalize;
}

span.img-text:hover {
  color: #2caae1;
}

img {
  max-width: 100%;
}

.row.masonry {
  display: flex;
  flex-wrap: wrap;
}

/*
.gallery_box li {
  width: 33.333333%;
  max-width: 100%;
  display: inline-block;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}
 
.gallery_box {
  padding: 0;
  display: flow-root;
}

.gallery_box li:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
 
.gallery_box li img {
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
} 

.gallery_box li:nth-child(even) {
  height: 304px;
}

.gallery_box li:nth-child(odd) {
  height: 438px;
}

.gallery_box li:nth-child(odd) .box_data {
  background: rgba(0, 0, 0, 0.17)
}

.gallery_box li:nth-child(even) .box_data {
  background: rgba(0, 44, 255, 0.27)
}

.gallery_box .box_data {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}

.gallery_box .box_data span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-size: 24px;
}

.gallery_box li:hover .box_data {
  background: rgba(255, 0, 39, 0.55)
} */



/* Main CSS */
.grid-wrapper>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.btboking {
  margin-top:5rem ;
  margin-right: 4rem !important;
  margin-left: 4rem !important;
  bottom: 1rem;
  position: absolute;
  left: 0;
  right: 0;
}